<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center wow fadeInUp">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <!--<p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>-->
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center wow fadeInUp">
        <i class="lnr lnr-phone-handset fa-3x mb-3 sr-contact"></i>
        <p>+27(0) 12 756 1189</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="lnr lnr-envelope fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:services@systit.co.za">services@systit.co.za</a>
        </p>
      </div>      
    </div>
  </div>
</section>
<a href="#" class="back-to-top animated bounce"><i class="fa fa-chevron-up"></i></a>