<!-- Services Section Start -->
<section id="services" class="section">
  <div class="container animated shake">
    <div class="section-header">          
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our Services</h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"></p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
          <div class="icon">
            <i class="lnr lnr-cog"></i>
          </div>
          <h4>Information Security</h4>
          <!--<p>We use the most sophisticated tools that will secure your IT perimeter 24/7 365</p>-->
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
          <div class="icon">
            <i class="lnr lnr-code"></i>
          </div>
          <h4>Web Development</h4>
          <!--<p>We have the best Web developers in town, give us a try.</p>-->
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
          <div class="icon">
            <i class="lnr lnr-sync"></i>
          </div>
          <h4>Desktop Support</h4>
          <!--<p>We offer professional desktop support.</p>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->